<!--
  Generated template for the UsuariosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-header>
    <ion-navbar>
      <ion-title>Lista de usuarios</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>



<ion-content padding>
      <ion-list>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-item *ngFor="let otherUser of userList" (click)="goProfile(otherUser)">
          <ion-avatar item-start>
            <img src="assets/img/user.png">
          </ion-avatar>
          <h2>{{otherUser.nick}}</h2>
          <p>{{otherUser.email}}</p>
        </ion-item>
      </ion-list>
</ion-content>
