<!--
  Generated template for the CreateTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Creación de entrenamiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="createTraining()">
        <ion-list>
          <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text" name="nombre" [(ngModel)]="newTraining.nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Descripción</ion-label>
            <ion-input type="text" name="descripcion" [(ngModel)]="newTraining.descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Público</ion-label>
            <ion-select  name="publico" [(ngModel)]="newTraining.publico">
              <ion-option value="si">Sí</ion-option>
              <ion-option value="no">No</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Dificultad</ion-label>
            <ion-select  name="dificultad" [(ngModel)]="newTraining.dificultad">
              <ion-option value="facil">Fácil</ion-option>
              <ion-option value="intermedio">Intermedio</ion-option>
              <ion-option value="dificil">Difícil</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div padding>
          <button ion-button block type="submit">Guardar</button>
        </div>
      </form>
</ion-content>
