<!--
  Generated template for the MensajesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-title>Mensajes privados</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-content padding>
  <div padding>
  <ion-segment [(ngModel)]="mensajes">
    <ion-segment-button value="enviados">
      Enviados
    </ion-segment-button>
    <ion-segment-button value="recibidos">
      Recibidos
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="mensajes">

  <ion-list *ngSwitchCase="'enviados'" no-lines>
      <ion-item>
        <ion-list>
          <ion-item *ngFor="let me of mensajesEnviados">
                    <ion-card>
                        <ion-card-header>
                          {{me.nickReceptor}}
                        </ion-card-header>
                        <ion-card-content>
                         <p style="white-space: pre-line;"> {{me.bodymessage}}</p>
                        </ion-card-content>
                    </ion-card>
          </ion-item>
        </ion-list>
      </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'recibidos'">
    <ion-item *ngFor="let mr of mensajesRecibidos">
                <ion-card>
                    <ion-card-header>
                      {{mr.nickEmisor}}
                    </ion-card-header>
                    <ion-card-content>
                      <p style="white-space: pre-line;">{{mr.bodymessage}}</p>
                    </ion-card-content>
                </ion-card>
      </ion-item>
  </ion-list>
</div>
</ion-content>
