<!--
  Generated template for the ExercisesPersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ejercicios personalizados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
            <ion-item-sliding *ngFor="let exercise of exercises">
               <ion-item (click)="selectExercise(exercise)">
                <ion-avatar item-start>
                <img src="assets/img/pesa.png">
              </ion-avatar>
              <h2>{{exercise.nombre}}</h2>
              <p>Tipo: {{exercise.tipo}}</p>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="secondary" (click)="goDetailExercise(exercise)"> 
                <ion-icon name="eye"></ion-icon>
                View
              </button>
              <button ion-button color="primary" (click)="goEdit(exercise)">
                <ion-icon name="create"></ion-icon>
                Edit
              </button>
              <button ion-button color="danger" (click)="showDelete(exercise.id)"> 
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list>
  <button ion-fab color="primary" (click)="goCreate()"><ion-icon name="add"></ion-icon></button>
</ion-content>
