<!--
  Generated template for the RetosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-header>
    <ion-navbar>
      <ion-title>Retos Olympiapp!</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>



<ion-content padding class="card-background-page">
  <ion-card *ngFor="let reto of retos" (click)="goDetalleReto(reto,urlImages[reto.id-1])">
    <img [src]="urlImages[reto.id-1]" />
    <div class="card-title">{{reto.nombre}}</div>
    <div class="card-subtitle">{{reto.tipo}}</div>
  </ion-card>
</ion-content>
