<!--
  Generated template for the PerfilUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-title>Perfil de usuario</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <div padding>
  <ion-segment [(ngModel)]="perfil">
    <ion-segment-button value="informacion">
      Información
    </ion-segment-button>
    <ion-segment-button value="estadisticas">
      Estadísticas
    </ion-segment-button>
    <ion-segment-button value="logros">
      Logros
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="perfil">

  <ion-list *ngSwitchCase="'informacion'" no-lines>
   <ion-grid>
      <ion-row>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col><ion-col col-8>  
          <ion-item>
            <p style="text-align: center">
              <img class="avatarGrande" [src]="avatarUrl">
            </p>
          </ion-item>
        </ion-col><ion-col col-2></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
            <ion-item>
                <h2>Nick: {{userDetail.nick}}</h2><br>
                <p>Email: {{userDetail.email}}</p><br>
                <p>Fecha registro: {{userDetail.createdAt.substring(0,10)}}</p><br>                
                <p>Peso: {{userDetail.peso}}</p><br>
            </ion-item>
            <ion-item>
              <button ion-fab color="primary" *ngIf="!esAmigo" (click)="agregarAmigo(userDetail)"><ion-icon name="person-add"></ion-icon></button>
            </ion-item>
            <div  *ngIf="esAmigo">
              <form (ngSubmit)="enviarMensaje()">
                <ion-list>
                  <ion-item>
                    <ion-label floating>Mensaje privado</ion-label>
                    <ion-input name="bodymessage" [(ngModel)]="bodymessage"></ion-input>
                  </ion-item>
                </ion-list>
                <div padding>
                  <button ion-button block type="submit">Enviar</button>
                </div>
              </form>
            </div>
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-list>

  <ion-list *ngSwitchCase="'estadisticas'">
    <ion-title>Estadísticas</ion-title>
    <ion-item>
          <chart [labels]="tiempolabels" 
                  [data]="tiempodata" 
                  type="line"></chart>
    </ion-item>
    <ion-item>
          <chart [labels]="kcallabels" 
                  [data]="kcaldata" 
                  type="line"></chart>
    </ion-item>
    <ion-item>
          <chart [labels]="pesoslabels" 
                  [data]="pesosdata" 
                  type="line"></chart>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'logros'">
    <ion-title>Logros</ion-title>
    <ion-item>
      <h2>Logros</h2>
    </ion-item>
  </ion-list>
</div>
</ion-content>
