<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="registerUser()">
    <ion-list>
      <ion-item>
        <ion-label floating>Nick</ion-label>
        <ion-input type="text" name="nick" [(ngModel)]="newUser.nick"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="newUser.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="newUser.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Peso</ion-label>
        <ion-input type="text" name="peso" [(ngModel)]="newUser.peso"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit">Registrarse</button>
    </div>
  </form>
</ion-content>