<!--
  Generated template for the TrainingsPublicsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>TOP10 Entrenamientos públicos</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
</ion-header>


<ion-content padding>
      <ion-list>
        <ion-item *ngFor="let training of trainings" (click)="goDetail(training)">
          <ion-avatar item-start>
            <img src="assets/img/pesa.png">
          </ion-avatar>
          <h2>{{training.nombre}}</h2>
          <p>Dificultad: {{training.dificultad}}</p>
          <ion-icon name="thumbs-up" item-end></ion-icon>
          <ion-badge item-end>{{training.votos}}</ion-badge>
        </ion-item>
      </ion-list>
</ion-content>
