<!--
  Generated template for the SuscripcionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-header>
    <ion-navbar>
      <ion-title>Entrenamientos suscritos</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>



<ion-content padding>
 <ion-list>
    <ion-item *ngFor="let suscripcion of trainingsSuscritos" (click)="goDetail(suscripcion)">
      <ion-avatar item-start>
        <img src="assets/img/pesa.png">
      </ion-avatar>
      <h2>{{suscripcion.nombre}}</h2>
      <p>Dificultad: {{suscripcion.dificultad}}</p>
    </ion-item>
  </ion-list>
</ion-content>
