<!--
  Generated template for the DetailExercisePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle del ejercicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item-divider color="light">Información general</ion-item-divider>
      <ion-item>
        <h2 style="padding-top: 2%;font-size: 18px;"> {{exercise.nombre}} </h2>
        <p style="white-space: pre-line; padding-top: 2%;">{{exercise.descripcion}}</p>
        <p style=" padding-top: 2%;"><span style="color: black">Tipo:</span> {{exercise.tipo}}</p>
        <p *ngIf="exerciseCustom.series>0 && enEntrenamiento" style=" padding-top: 2%;"><span style="color: black">Series:</span> {{exerciseCustom.series}}</p>
        <p *ngIf="exerciseCustom.repeticiones>0 && enEntrenamiento" style=" padding-top: 2%;"><span style="color: black">Repeticiones:</span> {{exerciseCustom.repeticiones}}</p>
        <p *ngIf="!exerciseCustom.peso && enEntrenamiento" style=" padding-top: 2%;"><span style="color: black">Peso:</span> {{exerciseCustom.peso}}</p>
        <p *ngIf="exerciseCustom.tiempo>0 && enEntrenamiento" style=" padding-top: 2%;"><span style="color: black">Tiempo:</span> {{exerciseCustom.tiempo}}</p>
      </ion-item>
      <ion-item-divider color="light">Imagenes</ion-item-divider>
      <ion-item>
        <ion-slides (ionSlideDidChange)="slideChanged()">
          <ion-slide *ngFor="let image of images">
            <img [src]="image">
          </ion-slide>
        </ion-slides>
        <p *ngIf="images.length<1">Sin imagenes...</p>
        <button ion-fab color="primary" *ngIf="exercise.img<4&&pers" (click)="accionesImagen()"><ion-icon name="camera"></ion-icon></button>
        <button ion-fab color="primary" *ngIf="pers" (click)="showReset()"><ion-icon name="close-circle"></ion-icon></button>

       <!-- <img [src]="rutaCompleta" *ngIf="lastImage" /> -->
      </ion-item>


      
    </ion-list>
</ion-content>
