<!--
  Generated template for the TrainingFinishedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Resumen del entrenamiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>{{training.nombre}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="text-align: center">
          <!--<img src="">-->
          <p>Tiempo total: {{horas}}:{{minutos}}:{{segundos}}</p>
          <p>Total Kcal quemadas: {{totalKcal}} Kcal</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="text-align: center">
          <button ion-button (click)="showConfirm()">Salir</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
