<!--
  Generated template for the CreateExercisePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Creación de ejercicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="createExercise()">
    <ion-list>
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="newExercise.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Descripcion</ion-label>
        <ion-input type="text" name="descripcion" [(ngModel)]="newExercise.descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Tipo</ion-label>
        <ion-select  name="tipo" [(ngModel)]="newExercise.tipo">
              <ion-option value="{{met.categoria}}" *ngFor="let met of mets">{{met.categoria}}</ion-option>
        </ion-select>      
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit">Guardar</button>
    </div>
  </form>

</ion-content>
