<!--
  Generated template for the DetalleRetoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle del reto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item>
        <img [src]="imgUrl"/>
      </ion-item>
      <ion-item-divider color="light">Información general</ion-item-divider>
      <ion-item>
        <h2 style="padding-top: 2%;font-size: 18px;"> {{reto.nombre}} </h2>
        <p style="white-space: pre-line; padding-top: 2%;">{{reto.descripcion}}</p>
        <p style=" padding-top: 2%;"><span style="color: black">Tipo:</span> {{reto.tipo}}</p>
        <p style=" padding-top: 2%;"><span style="color: black">Duracion:</span> {{reto.duracion}} dias</p>
        <p style=" padding-top: 2%;"><span style="color: black">Descanso:</span> {{reto.descanso}}  dias</p>
        <p style=" padding-top: 2%;"><span style="color: black">Progresión:</span> {{reto.progresion}}</p>

      </ion-item>
      <ion-item-divider color="light">Ejercicios</ion-item-divider>
      <ion-item *ngFor="let exercise of detailedExercises" (click)="goDetailExercise(exercise)">
        <p>{{exercise.nombre}}</p>
      </ion-item>
    </ion-list>
</ion-content>
