<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-header>
    <ion-navbar>
      <ion-title>News</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>



<ion-content padding>
<!-- <ion-card *ngFor="let noticia of news" (click)="showNew(noticia)">
    <img [src]="urlImages[noticia.id-1]" />
    <div class="card-title">{{noticia.nombre}}</div>
    <div class="card-subtitle">{{noticia.descricpcion}}</div>
  </ion-card>-->
</ion-content>