<!--
  Generated template for the DetailTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle del entrenamiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
    <ion-item-divider color="light">Información general</ion-item-divider>
    <ion-item>
      <h2 style="padding-top: 2%;font-size: 18px;"> {{training.nombre}} </h2>
      <p style="white-space: pre-line; padding-top: 2%;">{{training.descripcion}}</p>
      <p style=" padding-top: 2%;"><span style="color: black">Dificultad:</span> {{training.dificultad}}</p>
      <p style=" padding-top: 2%;"><span style="color: black">Votos:</span> {{training.votos}}</p>

      <button ion-fab color="primary" *ngIf="pers" (click)="goEdit()"><ion-icon name="create"></ion-icon></button>
    </ion-item>
    <ion-item-divider color="light">Ejercicios</ion-item-divider>
    <ion-item *ngFor="let exercise of detailedExercises" (click)="goDetailExercise(exercise)">
      <p>{{exercise.nombre}}</p>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-3 style="text-align: left">
            <button ion-fab color="primary" *ngIf="pers" (click)="goExercises()"><ion-icon name="add"></ion-icon></button>
          </ion-col>
          <ion-col col-3 style="text-align: right">
            <button ion-fab color="primary" *ngIf="!vacio" (click)="goPlayTraining()"><ion-icon name="play"></ion-icon></button>  
          </ion-col>
          <ion-col col-3 style="text-align: right">
            <button ion-fab color="primary" *ngIf="votado==false&&propietario==false" (click)="vote()"><ion-icon name="thumbs-up"></ion-icon></button>  
          </ion-col>
          <ion-col col-3 style="text-align: right">
            <button ion-fab color="primary" *ngIf="!propietario&&!fav" (click)="suscribirse()"><ion-icon name="heart"></ion-icon></button>  
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
   <ion-item-divider *ngIf="comentable" color="light">Comentarios</ion-item-divider>
</ion-list>
    <div  *ngIf="comentable">
            <form (ngSubmit)="createComment()">
              <ion-list>
                <ion-item>
                  <ion-label floating>Comentario</ion-label>
                  <ion-input name="bodycomment" [(ngModel)]="bodycomment"></ion-input>
                </ion-item>
              </ion-list>
              <div padding>
                <button ion-button block type="submit">Comentar</button>
              </div>
            </form>
    </div>
    <ion-list  *ngIf="comentable">
      <ion-item *ngFor="let comment of comentarios">
                <ion-card>
                    <ion-card-header>
                      {{comment.nick}}
                    </ion-card-header>
                    <ion-card-content>
                      <p style="white-space: pre-line;">{{comment.bodycomment}}</p>
                    </ion-card-content>
                </ion-card>
      </ion-item>
  </ion-list>


</ion-content>
