<ion-header>
  <ion-navbar>
      <ion-title>Home</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
  <ion-segment [(ngModel)]="perfil">
    <ion-segment-button value="informacion">
      Información
    </ion-segment-button>
    <ion-segment-button value="estadisticas">
      Estadísticas
    </ion-segment-button>
    <ion-segment-button value="logros">
      Logros
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="perfil">

  <ion-list *ngSwitchCase="'informacion'" no-lines>
   <ion-grid>
      <ion-row>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col><ion-col col-8>  
          <ion-item>
            <p style="text-align: center">
              <img [src]="avatarUrl">
              <button ion-fab color="primary"><ion-icon name="camera"></ion-icon></button>
            </p>
          </ion-item>
        </ion-col><ion-col col-2></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
            <ion-item>
                <h2>Nick: {{user.nick}}</h2><br>
                <p>Email: {{user.email}}</p><br>
                <p>Fecha registro: {{user.createdAt.substring(0,10)}}</p><br>                
            </ion-item>
            <ion-item>
              <ion-label floating>Peso (Kg)</ion-label>
              <ion-input type="text" name="peso" [(ngModel)]="user.peso"></ion-input>
            </ion-item>
            <button ion-fab color="primary" (click)="actualizarPeso()"><ion-icon name="body"></ion-icon></button>
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-list>

  <ion-list *ngSwitchCase="'estadisticas'">
    <ion-title>Estadísticas</ion-title>
    <ion-item>
          <chart [labels]="tiempolabels" 
                  [data]="tiempodata" 
                  type="line"></chart>
    </ion-item>
    <ion-item>
          <chart [labels]="kcallabels" 
                  [data]="kcaldata" 
                  type="line"></chart>
    </ion-item>
    <ion-item>
          <chart [labels]="pesoslabels" 
                  [data]="pesosdata" 
                  type="line"></chart>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'logros'">
    <ion-title>Logros</ion-title>
    <ion-item *ngFor="let logro of logros"> 
        <ion-avatar item-start>
          <img style="width: 64px; height: 64px" *ngIf="tieneLogros[logro.id-1]" [src]="urlLogros[logro.id-1]">
          <img style="width: 64px; height: 64px" *ngIf="!tieneLogros[logro.id-1]" [src]="urlLogrosFalse[logro.id-1]">
        </ion-avatar>
        <h2>{{logro.nombre}}</h2>
        <p>{{logro.descripcion}}</p>
    </ion-item>
  </ion-list>
</div>

</ion-content>
