page-home {

    .avatarGrande {
        width: 100px;  
        height : 100px;  
        max-width: 100px;
        max-height: 100px;
        border-radius: 50px;
    }

    .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }
}
