<!--
  Generated template for the EditTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edición de entrenamiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="showConfirm(training)">
    <ion-list>
      <ion-item>
        <ion-label floating>Nombre</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="training.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Descripcion</ion-label>
        <ion-input type="text" name="descripcion" [(ngModel)]="training.descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Publico</ion-label>
        <ion-select  name="tipo" [(ngModel)]="training.publico">
              <ion-option value="si">Si</ion-option>
              <ion-option value="no">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
            <ion-label floating>Dificultad</ion-label>
            <ion-select  name="dificultad" [(ngModel)]="training.dificultad">
              <ion-option value="facil">Fácil</ion-option>
              <ion-option value="intermedio">Intermedio</ion-option>
              <ion-option value="dificil">Difícil</ion-option>
            </ion-select>
      </ion-item>
    </ion-list> 
    <div padding>
      <button ion-button block type="submit">Guardar</button>
    </div>
  </form>
</ion-content>
