<!--
  Generated template for the AddExTrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Añadir a entrenamiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form (ngSubmit)="saveResult()">
    <ion-list>
     <ion-item>
        <ion-label floating>Series</ion-label>
        <ion-input type="text" name="series" [(ngModel)]="newExTr.series"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Repeticiones</ion-label>
        <ion-input type="text" name="repeticiones" [(ngModel)]="newExTr.repeticiones"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Peso</ion-label>
        <ion-input type="text" name="peso" [(ngModel)]="newExTr.peso"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit">Guardar</button>
    </div>
  </form>
</ion-content>
