<!--
  Generated template for the TrainingsPersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>Entrenamientos personalizados</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-list>
        <ion-item *ngFor="let training of trainings" (click)="goDetail(training)">
          <ion-avatar item-start>
            <img src="assets/img/pesa.png">
          </ion-avatar>
          <h2>{{training.nombre}}</h2>
          <p>Dificultad: {{training.dificultad}}</p>
        </ion-item>
        <ion-item>
          <button ion-fab color="primary" (click)="goCreate()"><ion-icon name="add"></ion-icon></button>
        </ion-item>
      </ion-list>
</ion-content>
