<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="margin-top:15%">
    <ion-grid>
      <ion-row>
        <ion-col col-2></ion-col><ion-col col-8>
            <img src="./assets/img/logo.png" style="width:180px;height:180px;text-align: center">
        </ion-col><ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  <form (ngSubmit)="login()" class="login"> 
    <ion-list>
      <ion-item>
        <ion-label floating>Nick</ion-label>
        <ion-input type="text" name="nick" [(ngModel)]="newLogin.nick"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="newLogin.password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit">Acceder</button>
  </form>
  <p>¿No tienes cuenta? Regístrate en este <a (click)="goRegister()">enlace</a>!</p>
  </div>

</ion-content>
