<!--
  Generated template for the PlayTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrenamiento en curso...</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col col-12>
            <h5 style="text-align: center">{{detailedExercises[currentEx].nombre}}</h5>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-slides (ionSlideDidChange)="slideChanged()">
          <ion-slide *ngFor="let image of images">
            <img [src]="image">
          </ion-slide>
        </ion-slides>
        <p *ngIf="images.length<1">Sin imagenes...</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4></ion-col>
        <ion-col col-4>
            <p>Series: {{exercises.series}}</p>
            <p>Repeticiones: {{exercises.repeticiones}}</p>
            <p>Peso: {{exercises.peso}}</p>
            <h5>Tiempo: 
              <span *ngIf="time>0">{{horas}}:{{minutos}}:{{segundos}}</span>
              <span *ngIf="!time>0">00:00:00</span>
            </h5>
        </ion-col>
        <ion-col col-4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
          <button ion-button (click)="startTimer()" *ngIf="!started" style="text-align: center !important">Empezar</button>
          <button ion-button (click)="stopTimer()" *ngIf="started" style="text-align: center !important">Terminar</button>     
      </ion-col>
      <ion-col col-6>
          <button ion-button *ngIf="!lastEx" (click)="goNext()" style="text-align: center !important">Siguiente</button>
          <button ion-button *ngIf="lastEx" (click)="goFinish()" style="text-align: center !important">Finalizar</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
